body{
	font-family: "Times New Roman", Georgia,Serif;
}

#title{
	border: 1px solid black;
    width: 28%;
    padding: 1%;
    float: left;

}

section h2{
	font-size: 50%;
  
}

/*nav{

	margin: 10%;
   
}*/

nav li{
	background: grey;
	list-style-type: none;
	display: inline-block;
	font-size: 110%;
	border: 1px solid #4ac375;
	border-radius: 2%;
	color: white;
	padding: 0.5%;
	margin: 0.5%;
}

nav a{
	text-decoration: none;

}

.search{
	float: right;
	border: 1px solid black;
	padding: 2%;
	margin: 1%;
	font-size: 120%;
}